
#calendar-link {
    font-size: 16px;
}

.calendar-view {
    width : 1100px;
    
}

.smallCalendar {
    width: 800px;
    height: 600px;
    border: 0;
}

.bigCalendar {
    width: 1200px;
    height: 900px;
    border: 0;
}

.eventLink {
    margin-top: 50px;
    margin-right: 30px;
}

#event-div {
    float: right;
    clear: right;
    margin-top: 20px;
    margin-right: 0px;
    width: 250px;
    background-color: #e3e9ff;
    border-style: solid;
    border-width: 0px;
    border-radius: 10px;
    padding: 0px 10px 10px 10px;
}

#event-div p {
    text-align: center;
}

#event-div a {
    color: #20c;
}

#event-title {
    font-size: 16px;
    font-weight: bold;
    word-wrap: break-word;
}

